@model IEnumerable<EntityLayer.Concrete.Category>
<div class="sidebar-box">
    <h3 class="heading">Kategorilerimiz</h3>
    <ul class="categories">
        @foreach (var item in Model)
        {
            <li><a href="/Blog/BlogByCategory/@item.CategoryID">@item.CategoryName</a></li>
        }
    </ul>
</div>
