
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Yazar Paneli - Nihat Ovalıoğlu</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="~/Report-Login-Free/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="~/Report-Login-Free/css/font-awesome.min.css" type="text/css" media="all">
</head>
<body>
    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Hoş Geldiniz!</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Giriş Yapın</h2>
                        @using (Html.BeginForm("AuthorLogin", "Login", FormMethod.Post))
                        {
                            <input type="text" class="text" data-validate="Kullanıcı Aı Boş Bırakılamaz!" name="Mail" placeholder="Kullanıcı Adınız!" required="" autofocus>
                            <input type="password" class="password" name="Password" data-validate="Şifre Boş Bırakılamaz!" placeholder="Şifreniz!" required="" autofocus>
                            <button class="btn" type="submit">Giriş Yap!</button>
                        }
                        <p class="account">Bir Hesabınız Yokmu? <a href="#">Kayıt Olun!</a></p>
                        <p class="account">Admin Girişine <a href="/Login/AdminLogin/">Yönlendir!</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="~/Report-Login-Free/images/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>
</html>