
@{
    Layout = null;
}

<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Perspective Blog :: Nihat Ovalıoğlu</title>
    <link rel="stylesheet" href="~/web/css/style.css">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic,200,300,300italic,400italic,600,600italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- For-Mobile-Apps-and-Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Simple Error Page Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps-and-Meta-Tags -->

</head>
<body>
    <div class="main w3l">
        <h1>OOPSSS</h1>
        <h2>Sayfa Bulunamadı!</h2>
        <h3>"Üzgünüz ! Aradığınız Sayfa Bulunamadı. Ana Sayfaya Dönmek İstermisiniz!"</h3>
        <a href="/Blog/Index/" class="back">Ana Sayfaya Dönün</a>
        <div class="social-icons w3">
            <ul>
                <li><a class="twitter" href="https://twitter.com/oval_nihat"></a></li>
                <li><a class="facebook" href="https://www.facebook.com/ni.hat.547"></a></li>
                <li><a class="pinterest" href="#"></a></li>
            </ul>
        </div>
    </div>

</body>
</html>